*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.swap{
    position: static;
    z-index: 1;

}
.header{
    background-color: #252628;
    position: static;
    z-index: 1;
}
.p361ku9c{
    fill: white;
}
.header > .navbar{
    position: fixed;
    /*top: 0px;*/
    /*left: 0px;*/
    /*right: 0px;*/
}

#main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 300px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 40px;
    width:370px;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}
#nav1{
    width: 25%;
    height: 800px;
    background-color: white;
    position: fixed;
    top: 60px;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 10px;
    background: lightgray;

}
::-webkit-scrollbar-thumb{
    background-color: grey;
  border-radius: 5px;
}
/* content */
#content{
    width: 50%;
    height: 800px;
    background-color: rgb(90, 160, 139);
    position: absolute;
    top: 60px;
    left: 25%;
}
/* css from đăng bài */
.from-dangbai{
    border-radius: 10px;
    background-color: #3a3b3c;
    width: 90%;
    /*margin:10px ;*/
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    padding: 10px;
}
.from-dangbai > hr{
    color: white;
}
.mb-3 > img{
    width: 15%;
    height: auto;
    border-radius: 50px;
}
.col-sm-10 > button{
    border-radius: 50px;
    height: 40px;
    margin-top: 12px;
}
.col-md-2 > img{
    width: 90%;
    height: auto;
    border-radius: 50px;
}
.modal-content{
    color: white;
    background-color: #252628;
}
#carouselExampleControls{
    width: 90%;
    margin: auto;
}
/* friend list */
.multy-card{
    display: flex;
}
.multy-card > .card{
    margin-right: 5px;
}
/* from bài viết */
.main-content{
    position: absolute;
    top: 630px;
    /*left: 0px;*/
    /*right: 0px;*/
}
.main-content > .card{
    background-color: #3a3b3c;
    color: white;
    width: 44%;
    margin: auto; 
    margin-bottom: 10px;
    border-radius: 10px;
}
.main-content > .card > .row{
    margin-left: 10px;
}

/* Navbar right */
#nav2{
    width: 25%;
    height: 800px;
    background-color: aqua;
    position: fixed;
    left: 75%;
    top: 60px;
}
.nav1{
    display: flex;
}
#header-left{
    display: flex;
}
.icon{
    height: 36px;
    width: 36px;

}
.icon-reset-div{
    width: 45px;
    height: 45px;
    margin-left:30px;
    margin-top: 5px;
}
.search-div{
    margin-top: 13px;
    margin-left: 10px;
    line-height: 10px;
}
.icon-reset{
    height: 45px;
    width: 45px;
}
.avatar-profile{
    display: flex;
    padding-left: 30px;
}
.username{
    padding-left: 45px;
}
.avatar{
    height: 40px;
    width: 40px;
}
.text-icon{
    padding-left: 45px;
}
.friends{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.messenger{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.saved{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.group{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.Marketplace{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.fundraising-campaign{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.play-game{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.facebook-pay{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.most-recent{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.blood-donation{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.events{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.emotional-health{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.pages{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.ad-manager{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.climate-science-center{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.ad-center{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.emergency-response{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.video-play-game{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.video-live{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.watch{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.favorites{
    display: flex;
    /*width: 36px;*/
    /*height: 36px;*/
    padding-top: 10px;
}
.icon-marketplace{
    width: 36px;
    height: 36px;

}
.icon-fundraising-campaign{
    width: 36px;
    height: 36px;
}
.icon-play-game{
    width: 36px;
    height: 36px;
}
.icon-facebook-pay{
    width: 36px;
    height: 36px;
}
.icon-most-recent{
    width: 36px;
    height: 36px;
}
.icon-blood-donation{
    width: 36px;
    height: 36px;
}
.icon-blood-donation{
    width: 36px;
    height: 36px;
}
.icon-events{
    width: 36px;
    height: 36px;
}
.icon-emotional-health{
    width: 36px;
    height: 36px;
}
.icon-pages{
    width: 36px;
    height: 36px;
}
.icon-ad-manager{
    width: 36px;
    height: 36px;
}
.icon-climate-science-center{
    width: 36px;
    height: 36px;
}
.icon-ad-center{
    width: 36px;
    height: 36px;
}
.icon-emergency-response{
    width: 36px;
    height: 36px;
}
.icon-video-play-game{
    width: 36px;
    height: 36px;
}
.icon-video-live{
    width: 36px;
    height: 36px;
}
.icon-watch{
    width: 36px;
    height: 36px;
}
.icon-favorites{
    width: 36px;
    height: 36px;
}
#more{
    display: none;
}

