*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f2f5;
}
/* đầu trang */
.header{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
    box-shadow: 0 0 15px #dfe1e4;
}
/* search */
.search-bar{
    width: 25%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.search-bar > .logo > img{
   width: 70%;
   height: auto;
   position: absolute;
   top: 5px;
   left: 10px;
}
.search-bar > .logo{
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.search-bar > .search > input{
    width: 65%;
    border: none;
    border-radius: 30px;
    background-color: #f0f2f5;
    position: absolute;
    top: 10px;
    left: 20%;
    bottom: 10px;
}
/* nút điều khiển trang chủ */
.home{
    position: absolute;
    top: 0;
    left: 25%;
    right: 25%;
    bottom: 0;
    display: flex;
}
.home > .bg-home{
    width: 20%;
}
.home > .bg-home > button{
    width: 95%;
    height: 90%;
    text-align: center;
    border: none;
    border-radius: 10px;
    color: #65676b;
    font-size: 30px;
    background-color: white;
    margin-top: 3%;
    margin-left: 5%;
}
.home > .bg-home > button > a{
    color: #65676b;
}
.home > .bg-home > button:hover{
    background-color: #f0f2f5;
}
/* user */
.user{
    width: 25%;
    position: absolute;
    top: 0;
    left: 75%;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: right;
}
.user > .bg-user{
    width: 15%;
}
.user > .bg-user > button{
    width: 95%;
    height: 80%;
    text-align: center;
    border: none;
    border-radius: 50%;
    color: black;
    font-size: 30px;
    background-color: #e4e6eb;
    margin-top: 5px;
}
.user > .bg-user > button > img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.user > .bg-user > button:hover{
    background-color: #cbcbcb;
}
/* messenger navbar */
.messenger-main{
    width: 25%;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 75%;
    display: none;
    box-shadow: 0px 0px 20px #adadad;
}
.messenger-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80%;
    
}
.messenger-txtHeader{
    width: 50%;
    /* color: white; */
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 5%;
}
.messenger-btIcon{
    width: 50%;
    position: absolute;
    top: 1%;
    left: 50%;
}
.messenger-btIcon > button{
    width: 20%;
    height: 35px;
    font-size: 20px;
    color: #606770;
    background-color: white;
    border: none;
    border-radius: 50%;
}
.messenger-btIcon > button > a{
    color: #606770;
}
.messenger-btIcon > button:hover{
    background-color: #f0f2f5;
}
.messenger-search{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
.messenger-search > input{
    width: 90%;
    border: none;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    background-color: #f0f2f5;
}
.messenger-foodter{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
}
.messenger{
    width: 90%;
    height: 15%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
}
.messenger:hover {
    background-color: #d1d1d1;
}
.messenger:hover .messenger-box-menu{
    display: block;
}
.messenger-box-icon{
    width: 25%;
    position: absolute;
    top: 5%;
    left: 2%;
}
.messenger-box-icon > img{
    width: 70%;
    height: auto;
    border-radius: 50%;
}
.messenger-box-name{
    font-weight: bold;
    color: #606770;
    width: 60%;
    position: absolute;
    top:0;
    left: 25%;
}
.messenger-box-menu{
    width: 15%;
    display: none;
    position: absolute;
    top: 0;
    left: 85%;
    right: 0;
    bottom: 0;
}
.messenger-box-menu > button{
    width: 77%;
    font-size: 24px;
    color: #676d76;
    border: none;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 15%;
}
.messenger-box-menu > button:hover{
    background-color: #cccccc;
}
/* messenger box 1 */
.messenger1{
    width: 90%;
    height: 15%;
    border-radius: 10px;
    position: absolute;
    top: 16%;
    left: 5%;
    right: 5%;
}
.messenger1:hover {
    background-color: #d1d1d1;
}
.messenger1:hover .messenger-box-menu{
    display: block;
}
/* messenger box2 */
.messenger2{
    width: 90%;
    height: 15%;
    border-radius: 10px;
    position: absolute;
    top: 32%;
    left: 5%;
    right: 5%;
}
.messenger2:hover {
    background-color: #d1d1d1;
}
.messenger2:hover .messenger-box-menu{
    display: block;
}
/* messenger box3 */
.messenger3{
    width: 90%;
    height: 15%;
    border-radius: 10px;
    position: absolute;
    top: 48%;
    left: 5%;
    right: 5%;
}
.messenger3:hover {
    background-color: #d1d1d1;
}
.messenger3:hover .messenger-box-menu{
    display: block;
}
/* messenger box4 */
.messenger4{
    width: 90%;
    height: 15%;
    border-radius: 10px;
    position: absolute;
    top: 64%;
    left: 5%;
    right: 5%;
}
.messenger4:hover {
    background-color: #d1d1d1;
}
.messenger4:hover .messenger-box-menu{
    display: block;
}
/* messenger box5 */
.messenger5{
    width: 90%;
    height: 15%;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    left: 5%;
    right: 5%;
}
.messenger5:hover {
    background-color:#d1d1d1;
}
.messenger5:hover .messenger-box-menu{
    display: block;
}
/* user box */
.main-user-box{
    width: 25%;
    height: 600%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px #adadad;
    position: absolute;
    top: 60px;
    left: 75%;
    right: 0;
    display: none;
}
.main-user-box >  .bt-exit > button{
    font-size: 24px;
    color: #606770;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 2%;
    z-index: 2;
}
/* header user box */
.header-user-box{
    width: 90%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px #a7a6a6;
    position: absolute;
    top: 3%;
    left: 5%;
    right: 5%;
    bottom: 70%;
}
.avt-user-box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40%;
    border-radius: 10px;
}
.avt-user-box:hover{
    background-color: #d1d1d1;
}
.avt-user-box > img{
    width: 15%;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 3%;
}
.avt-user-box > p{
    color: #606770;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 23%;
}
.header-user-box > hr{
    width: 90%;
    color: #606770;
    margin: auto;
    margin-top: 20%;
}
.profile-user-box-link{
    border-radius: 10px;
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
}.profile-user-box-link:hover{
    background-color: #d1d1d1;
}
.profile-user-box-link > a{
    /* color: white; */
    text-decoration: none;
    margin-left: 5%;
}
/* foodter user box */
.foodter-user-box{
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 5%;
}
.foodter-user-item{
    width: 100%;
    height: 21%;
    border-radius: 10px;
}
.foodter-user-item:hover{
    background-color: #d1d1d1;
}
.foodter-user-item > a{
    width: 90%;
    display: flex;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5%;
}
.foodter-user-item > a > i{
    width: 10%;
    color: black;
    margin-top: 4%;
    margin-left: 3%;
}
.foodter-user-item > a > p{
    width: 80%;
    color: #606770;
    margin-top: 3%;
}
/* notification box */
.notification-main{
    width: 25%;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 75%;
    display: none;
    box-shadow: 0px 0px 20px #adadad;
}
.notification-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 90%;
    
}
.notification-txtHeader{
    width: 50%;
    /* color: white; */
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 5%;
}
.notification-btIcon{
    width: 50%;
    position: absolute;
    top: 5%;
    left: 75%;
}
.notification-btIcon > button{
    width: 20%;
    height: 35px;
    font-size: 20px;
    color: #606770;
    background-color: white;
    border: none;
    border-radius: 50%;
}
.notification-btIcon > button:hover{
    background-color: #f0f2f5;
}
.notification-foodter{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
}
.notification{
    width: 90%;
    height: 15%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
}
.notification:hover {
    background-color: #d1d1d1;
}
.notification:hover .notification-box-menu{
    display: block;
}
.notification-box-icon{
    width: 25%;
    position: absolute;
    top: 5%;
    left: 2%;
}
.notification-box-icon > img{
    width: 70%;
    height: auto;
    border-radius: 50%;
}
.notification-box-name{
    font-weight: bold;
    color: #606770;
    width: 60%;
    position: absolute;
    top:0;
    left: 25%;
}
.notification-box-menu{
    width: 15%;
    display: none;
    position: absolute;
    top: 0;
    left: 85%;
    right: 0;
    bottom: 0;
    /* z-index: 3; */
}
.notification-box-menu > button{
    width: 77%;
    font-size: 24px;
    color: #676d76;
    border: none;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 15%;
}
.notification-box-menu > button:hover{
    background-color: #cccccc;
}
.notification:hover .notification-box-menu{
    display: block;
}
/* notification box2 */
.notification2{
    width: 90%;
    height: 15%;
    border-radius: 10px;
    position: absolute;
    top: 15%;
    left: 5%;
    right: 5%;
}
.notification2:hover {
    background-color: #d1d1d1;
}
.notification2:hover .notification-box-menu{
    display: block;
}
/* notification box3 */
.notification3{
    width: 90%;
    height: 15%;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
}
.notification3:hover {
    background-color: #d1d1d1;
}
.notification3:hover .notification-box-menu{
    display: block;
}
/* notification box4 */
.notification4{
    width: 90%;
    height: 15%;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 5%;
    right: 5%;
}
.notification4:hover {
    background-color: #d1d1d1;
}
.notification4:hover .notification-box-menu{
    display: block;
}
/* notification box5 */
.notification5{
    width: 90%;
    height: 15%;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 5%;
    right: 5%;
}
.notification5:hover {
    background-color: #d1d1d1;
}
.notification5:hover .notification-box-menu{
    display: block;
}
/* notification box6 */
.notification6{
    width: 90%;
    height: 15%;
    border-radius: 10px;
    position: absolute;
    top: 75%;
    left: 5%;
    right: 5%;
}
.notification6:hover {
    background-color: #d1d1d1;
}
.notification6:hover .notification-box-menu{
    display: block;
}
/* user box */
.main-user-box{
    width: 25%;
    height: 600%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px #adadad;
    position: absolute;
    top: 60px;
    left: 75%;
    right: 0;
    display: none;
}
.main-user-box >  .bt-exit > button{
    font-size: 24px;
    color: #606770;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 2%;
    z-index: 2;
}
/* header user box */
.header-user-box{
    width: 90%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px #a7a6a6;
    position: absolute;
    top: 3%;
    left: 5%;
    right: 5%;
    bottom: 70%;
}
.avt-user-box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40%;
    border-radius: 10px;
}
.avt-user-box:hover{
    background-color: #d1d1d1;
}
.avt-user-box > img{
    width: 15%;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 3%;
}
.avt-user-box > p{
    color: #606770;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 23%;
}
.header-user-box > hr{
    width: 90%;
    color: #606770;
    margin: auto;
    margin-top: 20%;
}
.profile-user-box-link{
    border-radius: 10px;
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
}.profile-user-box-link:hover{
    background-color: #d1d1d1;
}
.profile-user-box-link > a{
    /* color: white; */
    text-decoration: none;
    margin-left: 5%;
}
/* foodter user box */
.foodter-user-box{
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 5%;
}
.foodter-user-item{
    width: 100%;
    height: 21%;
    border-radius: 10px;
}
.foodter-user-item:hover{
    background-color: #d1d1d1;
}
.foodter-user-item > a{
    width: 90%;
    display: flex;
    text-decoration: none;
    color: #606770;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5%;
}
.foodter-user-item > a > i{
    width: 10%;
    margin-top: 4%;
    margin-left: 3%;
}
.foodter-user-item > a > p{
    width: 80%;
    margin-top: 3%;
}

/* foodter user box */
.foodter-user-box {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 5%;
}

.foodter-user-item {
    width: 100%;
    height: 21%;
    border-radius: 10px;
}

.foodter-user-item:hover {
    background-color: #d1d1d1;
}

.foodter-user-item > a {
    width: 90%;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.foodter-user-item > a > i {
    width: 10%;
    margin-top: 4%;
    margin-left: 3%;
}

.foodter-user-item > a > p {
    width: 80%;
    margin-top: 3%;
}
/* header 2 */
.header2{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30%;
}
.div-cover-photo {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 15px #555555;
    position: absolute;
    top: 60px;
    bottom: 0;
}

/* .box {
    background-color: black;
    width: 70%;
    justify-content: center;
    justify-items: center;
    position: absolute;
    left: 15%;
    right: 15%;
} */
.box > img{
    width: 90%;
    height: 65%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
}

.div-info-profile {
    width: 90%;
    display: flex;
    position: absolute;
    top: 73%;
    left: 5%;
    right: 5%;
}

.info-profile {
    /* background-color: #393B3B; */
    width: 100%;
    margin-top: -5%;
}

.info-profile > img{
    width: 12%;
    height: auto;
    border: 5px solid white;
    border-radius: 50%;
}

.username {
    font-size: 30px;
    font-weight: bold;
    /* color: #EDF7F7; */
}

.btn-profile{
    width: 20%;
    margin-top: -5%;
    margin-left: 77%;
}

.div-function {
    width: 90%;
    border-top: 1px solid #555555;
    display: flex;
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 1%;
}

.function {
    color: #65676b;
    font-weight: bold;
    text-decoration: none;
    margin: 5px 15px 0 15px;
    padding-left: 20px;
    font-size: 18px;
    /* color: #EDF7F7; */
}

.more {
    margin-left: 20px;
    font-size: 18px;
    /* color: #EDF7F7; */
}

.foodter{
    width: 100%;
    position: absolute;
    top: 72%;
    left: 0;
    right: 0;
}
/* left content */
.div-lr{
    width: 28%;
    height: 700px;
    /* background-color: white; */
    position: absolute;
    top: 0;
    left: 10%;
}
.div-intro{
    border-radius: 10px;
    background-color: white;
    padding: 3%;
    box-shadow: 0 0 10px #adadad;
}
.text-intro{
    text-align: left;
   padding-bottom: 10px;
}
.div-content-intro{
    text-align: center;
}
.content-intro{
    padding: 0 0 15px 0;
    font-size: 20px;
}
.div-address{
    padding-top: 50px;
}
.div-from{
    padding-top: 20px;
}
.div-photos{
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 3%;
    box-shadow: 0 0 10px #adadad;
}

.div-friend{
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 3%;
    box-shadow: 0 0 10px #adadad;
}
.Photos{
    font-weight: bold;
    font-size: 25px;
}
.see-all-pt{
    text-align: right;
}
.see-all{
    padding-left: 239px;
    color: dodgerblue;
}
.friends{
    font-weight: bold;
    font-size: 25px;
}
.cont{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.profile-picture{
    width: 5%;
    height: auto;
    border: 5px solid white;
    border-radius: 50%;
}
#btn-edit-intro{
    background-color: #79828f;

}
#btn-edit-details{
    background-color: #79828f;
    margin: 20px 0 20px 0;
}
#btn-edit-Hobbies{
    background-color: #79828f;
    margin: 20px 0 20px 0;
}
#btn-edit-featured{
    background-color: #79828f;
    margin: 20px 0 20px 0;
}
.main-content {
    width: 50%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 10%;
}
/* đăng bài */
.from-dangbai{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px #adadad;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    float: left;
}
.from-dangbai > .btn-group > button:hover{
    background-color: #d1d1d1;
}
.from-dangbai > .mb-3 > .d-grid > button:hover{
    background-color: #d1d1d1;
}
.mb-3 > img{
    width: 15%;
    height: auto;
    border-radius: 50px;
}
.col-sm-10 > button{
    border-radius: 50px;
    height: 40px;
    margin-top: 12px;
}
.col-md-2 > img{
    width: 90%;
    height: auto;
    border-radius: 50px;
}
/* from bài viết */
/* .content{
    float: left;
} */
.card{
    width: 100%;
    margin: auto; 
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #adadad;
}
.card > .row{
    margin-left: 10px;
}
.card-footer > .btn-group > button:hover{
    background-color: #d1d1d1;
}
.btn-feeling > button{
    width: 30%;
    border: none;
    background: none;
}
.btn-feeling > button > img{
    width: 70%;
    height: auto;
}
.fb-comments{
    border-top: 1px solid #cccccc;
}